<h2>

{{#each blogposts as |blog|}}

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{blog.dataValues.title}}</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">{{blog.dataValues.post}}</p>
    

{{else}}

    <p>No Current Blog Posts</p>

{{/each}} 